* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

main, section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button, .button:hover {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  grid-column: 1 / -1;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.button {
  background: #594f4f;
  color: #f6f0f0;
}

.button:hover {
  background: #e7e7e7;
  color: #333;
}

footer {
  background: #555353;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p, footer p.social-prompt {
  margin-bottom: 10px;
}

footer p.social-prompt {
  font-style: italic;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #999;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  main, section {
    padding: 20px;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin: 5px 0;
  }

  .contact-form, .button {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .button {
    padding: 15px;
  }
}

.contact-form-container, .contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: .5em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact {
  text-align: center;
  background: #e7e7e7;
  padding: 40px 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

#contact h2 {
  margin-bottom: 1em;
  color: #333;
}

#contact p {
  margin-bottom: 2em;
}