* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a,
footer ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover,
footer ul li a:hover {
  background-color: #555;
  color: #999;
}

main,
section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

section {
  background: #e7e7e7;
  margin: 20px 0;
}

section h2 {
  color: #333;
  margin-bottom: 10px;
}

footer {
  background: #555353;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p,
footer p.social-prompt {
  margin-bottom: 20px;
}

footer p.social-prompt {
  font-style: italic;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin: 0 10px;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

.button:hover {
  background-color: #555;
}

#contact {
  text-align: center;
  background: #ffffff;
  padding: 40px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 600px;
}

#contact h2 {
  margin-bottom: 0.5em;
}

#contact p {
  margin-bottom: 1em;
}

.contact-form-container {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

@media (max-width: 768px) {
  nav ul,
  footer ul {
    flex-direction: column;
  }

  nav ul li,
  footer ul li {
    margin: 10px 0;
  }

  main,
  section,
  #contact {
    padding: 20px;
  }

  .contact-form {
    display: block;
  }

  .button {
    padding: 15px;
  }
}